<footer>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex flex-column align-items-center">
              <p>Via XXXXX, 12, 20090 Cesano Boscone</p>
              <p id="email"></p>
              <p id="telefono"></p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
              <div>
                <h2>Follow us!</h2>
              </div>
              <div id="social">
              </div>
            </div>
            <div class="col-md-4">
              <h3>Logo che rispedisce in cima</h3>
            </div>
        </div>
    </div>
</footer>
