footer {
    background: #242423;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

footer p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

footer i {
    padding: 10px;
}

footer h2 {
    font-family: 'Nothing You Could Do', cursive;
}